@import url('https://fonts.googleapis.com/css?family=Copse|Glegoo');
.app-header {
  width: 100%;
  height: 60px;
  position: relative;
  border-bottom: 2px solid #000000;
  padding: 0 50px;
  background-color: #000000;
}

.app-header>.logo {
  width: 100%;
  text-align: center;
}

.logo-text {
  font-family: Glegoo;
  font-size: 35px;
  font-weight: 600;
  text-decoration: none;
  color: #cbcbcb;
  text-transform: uppercase;
}

.logo-text:hover {
  color: #ffffff;
}

.news-filter {
  position: absolute;
  top: 0;
}

.news-filter a {
  float: left;
  display: block;
  margin-top: 20px;
  padding: 0 16px;
  padding-bottom: 0;
  color: #cbcbcb;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: Copse;
}

.news-filter a:hover {
  color: #ffffff;
}

.news-filter a:not(:last-child) {
  border-right: 1px solid #cbcbcb;
}

.help-nav {
  position: absolute;
  top: 0;
}

.search-bar {
  position: relative;
  color: #cbcbcb;
  right: 40px;
}

.right {
  float: right;
}

.search-bar i {
  font-size: 17px;
  margin-top: 20px;
}

.search-bar i:hover {
  color: #ffffff;
}
