<header class="app-header">
  <div class="logo">
    <a routerLink="/home" class="logo-text"> Daily News </a>
  </div>
  <div class="news-filter">
    <a href="#">All</a>
    <a href="#">Latest</a>
    <a href="#">Popular</a>
  </div>
  <div class="pull-right">
    <div class="help-nav">
      <a href="#" class="search-bar">
        <i class="glyphicon glyphicon-search"></i>
      </a>
    </div>
  </div>
</header>
<nav class="app-navbar">
  <ul class="navigation-list">
    <li>
      <a href="#" class="nav-tab">Home</a>
    </li>
    <li>
      <a href="#" class="nav-tab">Business</a>
    </li>
    <li>
      <a href="#" class="nav-tab">Policy</a>
    </li>
    <li>
      <a href="#" class="nav-tab">Opinion</a>
    </li>
    <li>
      <a href="#" class="nav-tab">Photos</a>
    </li>
    <li>
      <a href="#" class="nav-tab">Videos</a>
    </li>
  </ul>
</nav>
