.news-form {
  font-family: Copse;
  width: 100%;
  min-height: 500px;
}

.news-form>.container {
  margin-top: 20px;
  box-shadow: 0 0 6px #000000;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}

.news-form .form-group {
  margin-top: 30px;
  line-height: 30px;
}

.news-form label {
  font-size: 16px;
}

.news-form .button-group {
  margin-top: 20px;
}

textarea {
  resize: none;
}

.vertical-align {
  min-height: 20px;
  display: inline-block !important;
  vertical-align: middle !important;
}

.input-default {
  width: 100%;
  min-height: 30px;
  border: 1px solid #000000;
  padding-left: 5px;
  font-family: Copse;
  outline: none;
}

.input-default:focus {
  border-color: transparent;
  box-shadow: 0 0 4px #ff0000;
}

.button-default {
  border: none;
  min-height: 40px;
  min-width: 80px;
  box-sizing: border-box;
  background-color: #e0e0e0;
  font-family: Glegoo;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  padding: 5px 20px;
  margin: 5px;
  outline: none;
  border: 1px solid #000000;
}

.button-default:hover {
  background-color: #fe450a;
}

h2 {
  margin: 0;
  margin-bottom: 10px;
  font-family: Copse;
  color: #414141;
  cursor: pointer;
}

h2:hover {
  color: #a1a1a1;
}

.add-news {
  min-width: 80px;
  max-width: 120px;
  height: 40px;
  line-height: 40px;
  background-color: #000000;
  cursor: pointer;
  margin: 20px auto;
}

.add-news:hover {
  background-color: #ff0000;
}

.add-news .icon {
  height: 100%;
  float: left;
  width: 30%;
  text-align: center;
  color: #ffffff;
  border-right: 1px dotted #ffffff;
  font-size: 16px;
}

.add-news .text {
  height: 100%;
  float: left;
  width: 70%;
  font-size: 20px;
  text-align: center;
  padding: 0 10px;
  color: #ffffff;
  font-family: 'Open Sans Condensed';
}
