.app-navbar {
  width: 100%;
  min-height: 20px;
  box-sizing: border-box;
  padding: 20px 0 20px 0;
  background-color: #000000;
}

.navigation-list {
  height: 100%;
  margin: 2px auto;
  width: 60%;
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  box-sizing: border-box;
}

.navigation-list li {
  flex: 1;
  border-collapse: collapse;
  text-align: center;
  line-height: 20px;
  text-align: center;
}

.navigation-list .active {
  /*background-color: #FF9933;*/
}

.navigation-list li:not(:first-child) {
  border-left: 2px dotted #ffffff;
  /*margin-left: 20px;*/
}

.nav-tab {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Open Sans Condensed';
  font-weight: bold;
}

.nav-tab:hover {
  color: #ff0000;
  /*background-color: rgb(244, 197, 118);*/
}
