<div class="home-container">
  <div class="col-md-7">
    <div class="slider-container">
      <app-slider></app-slider>
    </div>
  </div>
  <div class="col-md-offset-1 col-md-4 ">
    <div class="latest-news-container">
      <div class="latest-news-container-header">
        <h4>Latest</h4>
      </div>
      <div class="latest-news-container-body">
        <ul class="latest-news-container-list">
          <li class="latest-news-list-item">
            <div class="col-md-4 col-xs-2 col-sm-2">
              <div class="image-wrapper">
                <img src="/assets/images/image_2.jpg" alt="">
              </div>
            </div>
            <div class="col-md-8 col-xs-10 col-sm-10">
              <div class="latest-news-content">
                In browsers where the Pd slible to the user (such as when the browser tab ...
              </div>
            </div>
          </li>
          <li class="latest-news-list-item">
            <div class="col-md-4 col-xs-2 col-sm-2">
              <div class="image-wrapper">
                <img src="/assets/images/image_2.jpg" alt="">
              </div>
            </div>
            <div class="col-md-8 col-xs-10 col-sm-10">
              <div class="latest-news-content">
                In brible to the user (such as when the browser tab ...
              </div>
            </div>
          </li>
          <li class="latest-news-list-item">
            <div class="col-md-4 col-xs-2 col-sm-2">
              <div class="image-wrapper">
                <img src="/assets/images/image_2.jpg" alt="">
              </div>
            </div>
            <div class="col-md-8 col-xs-10 col-sm-10">
              <div class="latest-news-content">
                In browsers where the not visible to the user (such as when the browser tab ...
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="block">

      <div class="news-box-header">
        <h4>
          <a href="#" class="category-link">News "Super news"</a>
        </h4>
      </div>
      <div class="news-box">
        <ul class="latest-news-container-list">
          <li class="latest-news-list-item">
            <div class="col-md-4 col-xs-2 col-sm-2">
              <div class="image-wrapper">
                <img src="/assets/images/image_2.jpg" alt="">
              </div>
            </div>
            <div class="col-md-8 col-xs-10 col-sm-10">
              <div class="latest-news-content">
                In browsers where the Pd slible to the user (such as when the browser tab ...
              </div>
            </div>
          </li>
          <li class="latest-news-list-item">
            <div class="col-md-4 col-xs-2 col-sm-2">
              <div class="image-wrapper">
                <img src="/assets/images/image_2.jpg" alt="">
              </div>
            </div>
            <div class="col-md-8 col-xs-10 col-sm-10">
              <div class="latest-news-content">
                In brible to the user (such as when the browser tab ...
              </div>
            </div>
          </li>
          <li class="latest-news-list-item">
            <div class="col-md-4 col-xs-2 col-sm-2">
              <div class="image-wrapper">
                <img src="/assets/images/image_2.jpg" alt="">
              </div>
            </div>
            <div class="col-md-8 col-xs-10 col-sm-10">
              <div class="latest-news-content">
                In browsers where the not visible to the user (such as when the browser tab ...
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
